*{
    background-color: #141414;
    text-decoration: none;
}

.logo{
    margin-left: 30px;
    margin-top: 10px;
    height: 55px;
    width: 55px;
    z-index: 1001;

}

.logo:hover{
    content: url(logo1h.png);
}



nav{

    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    
    
}



nav ul{
    list-style: none;
    padding: 0px 0px;
}

nav ul li{
    display: inline-block;
    margin: 10px 40px;

    transition: transform 0.3s;
    
}




nav ul li a{
    color: white;
    font-family: Roboto ,'Segoe UI'; 
    font-weight: 500;
    font-size: 20px;
    padding: 3px 20px;

    transition: color 0.3s;
    
}

nav ul li a:hover{
    color: #377de0;
    
}



.social{
    
    margin-right: 20px;
    margin-top: 20px;
}


.social img{
    display: flexbox;
    margin-right: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    height: 20px;
    width: 20px;

    transition: 0.3s;


}

.social img:hover{
    transform: translateY(-5px);
    background-color: #494949a8;
}

.dropdown{
    position: relative;
    
}

.dropdown-menu{
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: #2b2929;
    font-size: 20px;
    color:#377de0;
    font-family: Roboto;
    font-weight: 400;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.15);
    

}

.dropdown:hover .dropdown-menu{
    display: block;
    
}

.dropdown-menu ul {
    background-color: transparent;
}

.dropdown-menu ul li{
    background-color: transparent;
}

.dropdown-menu ul li{
    background-color: transparent;
}

.dropdown-menu ul li a{
    background-color: transparent;
    padding: 0px;
}
a
.dropdown-menu ul li a:hover{
    color: white;

}

.pagecontent{
    height:fit-content;
    width:fit-content;
    background-color:#494949a8;
    padding: 20px;
    margin: 100px 30px 0px 30px;
    border-radius: 10px;
    transition: transform 0.3s , scale 0.3s;
}

.pagecontent h1{
    background-color: transparent;
    color: #377de0;
    font-family: Roboto;
    font-weight: 700;
    font-size: 80px;
    border-radius: 10px;
    margin: 0px 5px 0px 0px;
}

.pagecontent p{
    background-color: transparent;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    margin: 5px;
}

.pagecontent:hover{
    transform: translateY(-10px);
    transform: scale(1.05);
}